header{
    width: 100vw;
    max-width: 100vw;
    position: fixed;
    z-index: 1000;
    transition: 0.3s;
}
.headershadow{
    box-shadow: 0 4px 6px -2px var(--secondary);
}
header .gardient{
    background: linear-gradient(to bottom, var(--secondary) 0%, rgba(0, 0, 0, 0) 100%);
    height: 0px;
    width: 100vw;
    position: absolute;
}
header .background{
    color: white;
    background-color: var(--secondary);
}
header .background h1{
    display: none;
    margin: 0;
}
header .logo{
    width: 70px;
    height: 70px;
    margin: 8px;
    z-index: 9999;
    transition: 0.4s;
    cursor: pointer

}

header .content{
    color: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 30px
}
header nav{
    margin-left: auto;
    transition: 0.4s;
    z-index: 9999;
    margin-right: 20px;


}
header nav a {

    color: white !important;
    font-size: 14px;
    text-decoration: none;
}
