:root{
    --primary: #ffb936;
    --secondary: #1a1a1a
}

body, html, main{
    margin: 0 !important;
    padding: 0 !important;

    font-family: Inter;
}
body{
    overflow-x: hidden;
}

.content{
    width: 1000px;
    margin: auto;
}